:root {
   --flipcard-bg-color: black;
   --seperator-color: black;
   --text-color: white;
   --flipcard-rounded: 0.3em;
}

.tick {
  font-size: 1rem; 
  white-space: nowrap; 
  font-family: arial,sans-serif;
}

/* .tick-flip,.tick-text-inline {
  font-size: 2.5em;
}

.tick-label {
  margin-top: 1em;
  font-size: 1em;
}

.tick-char {
  width: 1.5em;
} */

/* .tick-text-inline {
  display: inline-block;
  text-align: center;
  width: 0.4em;
  min-width: 0.1em;
} */

/* .tick-group {
  margin: 0.5em;
  text-align: center;
} */

body {
   background-color: #eb0f0f00 !important; 
}

.tick-text-inline {
   color: var(--seperator-color) !important; 
}
.tick-label {
   color: #000000 !important; 
}

.tick-flip-panel {
   color: var(--text-color) !important; 
}

.tick-flip {
   font-family: 'Roboto', sans-serif !important; 
}

.tick-flip-panel-text-wrapper {
   line-height: 1.45 !important; 
}

.tick-flip-panel {
   background-color: var(--flipcard-bg-color) !important; 
}

.tick-flip {
   border-radius:var(--flipcard-rounded) !important; 
}